<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    
    <title>Test</title>
</head>

<body>
    <!-- Main submission form -->
    <h1>Twitter Analysis</h1>
    <h2>Keyword Search</h2>
    <form method="post">
        <div class="form-group">
            <label for="keyword">Search keyword here</label>
            <input type="text" name="keyword"
                   placeholder="Search Twitter for keyword (length > 3)" class="form-control"
                   value="{{ request.form['keyword'] }}"></input>
        </div>
        <div class="form-group">
            <label for="start_date">Start Date</label>
            <input type="text" name="start_date"
                   placeholder="YYYY-MM-DD" class="form-control"
                   value="{{ request.form['start_date'] }}"></input>
        </div>
        <div class="form-group">
            <label for="end_date">End Date</label>
            <input type="text" name="end_date"
                   placeholder="YYYY-MM-DD" class="form-control"
                   value="{{ request.form['end_date'] }}"></input>
        </div>
        <div class="form-group">
            <label for="output_tag">OPTIONAL: Output file</label>
            <input type="text" name="output_tag"
                   placeholder="OPTIONAL: Output tag [ex: 'abortion2022-13']" class="form-control"
                   value="{{ request.form['output_file'] }}"></input>
        </div>
    
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <!-- Image display test -->
    <p>Example Image Generated (keyword: "abortion")</p>
    <img src="{{url_for('static', filename='images/scatter_plot.png')}}">


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>