<!doctype html>
<!--To view the page, find the file in file explorer, right click and select open. You should see it in your browser. With help from tutorial-->
<html>

<head>
    <title>
        Measuring Public Sentiment Through Twitter
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/app.css">
</head>

<body>
    <nav>
        <!-- will add valid files later, only home and make query works for now-->
        <a href="website.html">Home</a>
        <a href="https://github.com/CS222-UIUC/course-project-group-83-1/tree/main/.github">Code</a>
        <a href="creators.html">About</a>
        <a href="index.html">Make a Query</a>
        <a href="preprocessed.html">Preprocessed Data</a>
    </nav>
    <main>
        <header>
            <h1>Analyzing Sentiment Through Twitter : Lite</h1>
        </header>
        <section>
            <h2>Overview</h2>
            <p>

                How can we analyze and visualize data in a way that is more understandable to humans? In this project,
                we explore this question by collecting, analyzing, and visualizing data from Twitter. Generate your own
                data by making a query or look at pre-analyzed data and view our graphical representation and comments
                about the dataset. </p>
        </section>
        <h3>Let's Get Started</h3>
        <article class="mainbuttons">
            <form action="index.html">
                <button>Make A Query</button>
            </form>
            <form action="preprocessed.html">
                <button>View Pre-Analyzed Data</button>
            </form>
        </article>

    </main>
    <footer>CS 222 Project Group 83, Fall 2022</footer>
</body>

</html>